[submodule "stonks-api"]
	path = stonks-api
	url = git@github.com:pachoR/stonks-api.git
[submodule "stonks-db"]
	path = stonks-db
	url = git@github.com:pachoR/stonks-db.git

[submodule "stonks-front"]
	path = stonks-front
	url = git@github.com:pachoR/stonks-front.git
[submodule "stonks-ingestion"]
	path = stonks-ingestion
	url = git@github.com:pachoR/stonks-ingestion.git
